version: '3.1'

volumes:
    prometheus_data: {}
    grafana_data: {}
    redis_data: {}
    postgres_data: {}
    influxdbv2_data: {}
    docker_gen: {}
    nginx_logs: {}

networks:
  front-tier:
  back-tier:

services:

  prometheus:
    image: prom/prometheus
    volumes:
      - ./config/prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=36w'
      - '--web.enable-admin-api'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    links:
      - cadvisor:cadvisor
      - alertmanager:alertmanager
    depends_on:
      - cadvisor
    networks:
      - back-tier
    restart: always

  node-exporter:
    image: prom/node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command: 
      - '--path.procfs=/host/proc' 
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points'
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    networks:
      - back-tier
    restart: always

  alertmanager:
    image: prom/alertmanager
    volumes:
      - ./config/alertmanager:/etc/alertmanager
    networks:
      - back-tier
    restart: always
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'

  cadvisor:
    image: google/cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - back-tier
    restart: always

  grafana:
    image: grafana/grafana
    # user: "104"
    environment:
      - VIRTUAL_HOST=${GRAFANA_HOST}
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana
      - ./config/grafana/provisioning:/etc/grafana/provisioning
    env_file:
      - ./config/grafana/config.monitoring
    networks:
      - back-tier
    restart: always

  nginx:
    image: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - docker_gen:/etc/nginx/conf.d
      - ./config/nginx/htpasswd:/etc/nginx/htpasswd
      - ./config/nginx/certs:/etc/nginx/certs
      - ./config/nginx/vhost.d:/etc/nginx/vhost.d
      - nginx_logs:/nginx_logs
    networks:
      - front-tier
      - back-tier

  dockergen:
    image: jwilder/docker-gen
    command: -notify-sighup nginx -watch /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    volumes:
      - docker_gen:/etc/nginx/conf.d
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./config/nginx/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl
      - ./config/nginx/htpasswd:/etc/nginx/htpasswd
      - ./config/nginx/certs:/etc/nginx/certs
      - ./config/nginx/vhost.d:/etc/nginx/vhost.d
    networks:
      - front-tier
      - back-tier
    depends_on:
      - nginx

  redis:
    image: redis
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - back-tier

  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - back-tier

  prometheus-nginxlog-exporter:
    image: quay.io/martinhelmich/prometheus-nginxlog-exporter
    restart: always
    command:
      - '/nginx_logs/access.log'
    volumes:
      - nginx_logs:/nginx_logs
    networks:
      - back-tier

  influxdb:
    image: quay.io/influxdb/influxdb:v2.0.3
    environment:
      - VIRTUAL_PORT=8086
      - VIRTUAL_HOST=${INFLUXDB_HOST}
    volumes:
      - influxdbv2_data:/.influxdbv2
    restart: always
    networks:
      - back-tier
      - front-tier

# Backend

  analytics:
    image: supergreenlab/analytics
    environment:
      - VIRTUAL_PORT=8080
      - VIRTUAL_HOST=${ANALYTICS_HOST}
    depends_on:
      - prometheus
    networks:
      - back-tier
    volumes:
      - ./config/analytics:/etc/analytics
    restart: always
